<?xml version="1.0"?>
<!--
/**
 * Copyright © Srinivas (support@srinivas.com). All rights reserved.
 * Please visit Srinivas.com for license details (https://srinivas.com/end-user-license-agreement).
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sv>
            <password>
                <enabled>1</enabled>
                <template>sv_password_template</template>
            </password>
        </sv>
    </default>
</config>
